.body {
    padding: 0% 5% 0% 5%;
  }
  .show-up {
    position: relative;
    z-index: 200;
  }
  p {
    font-style: normal;
    font-weight: 400 !important;
    font-size: 24px;
    color: #000;
    font-family: "Red Hat Display", sans-serif;
  }
  h2 {
    font-style: normal;
    font-weight: 900;
    font-size: 50px;
    color: #22223f;
    line-height: 79px;
    font-family: "Red Hat Display", sans-serif;
  }
  
  .card {
    height: auto;
    border-radius: 5px;
    color: #000;
  }
  .card-text {
    font-family: "Red Hat Display", sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 178%;
    color: #000;
  }
  h6 {
    font-size: 20px;
    margin: 0;
    color: #22223f;
    font-weight: 800;
  }
  .feedback {
    margin-top: 100px;
  }
  
  .min_hight {
    min-height: 40vh !important;
  }
  .min_hight_cont {
    min-height: 60vh !important;
  }
  .min_hight_100 {
    min-height: 100vh !important;
  }
  .disease_name {
    font-size: 20px;
    color: #22223f;
  }
  .service_paragraph {
    font-size: 16px;
    color: #000;
   
  }
  .head{
    font-size: 70px;
    line-height: 200px;
    text-align: center;
  }
 
  
  @media only screen and (max-width: 992px) {
    .container {
      padding: 10px;
    }
    h6 {
      margin-left: 8px;
    }
    .card {
      height: auto;
      margin-bottom: 20px;
    }
    h6 {
      margin-left: 10px;
    }
    h2 {
      text-align: left;
      font-weight: 700;
      font-size: 55px;
    }
    .head{
      font-size: 55px;
      /* line-height: 200px; */
      text-align: center;
    }
    
    p {
      text-align: left;
      font-size: 25px;
    }
  }
  @media only screen and (max-width: 768px) {
    .container {
      padding: 5px;
    }
    h2 {
      font-weight: 700;
      font-size: 50px;
    }
    .head{
      font-size: 50px;
      /* line-height: 200px; */
      text-align: center;
    }
    
    p {
      text-align: left;
      font-size: 18px;
    }
  }
  @media only screen and (max-width: 576px) {
    .container {
      padding: 18px;
      /* margin-top: 70px; */
    }
  }
  @media only screen and (max-width: 467px) {
    .card {
      padding: auto;
      height: auto;
      width: auto;
      margin-bottom: 20px;
      display: flex;
      align-items: center;
    }
    h2 {
      font-size: 35px;
      line-height: 40px;
    }
    .head{
      font-size: 35px;
      line-height: 40px;
      text-align: center;
    }
    
  
    h6 {
      margin-left: 10px;
    }
  }
  @media only screen and (max-width: 192px) {
    .star {
      margin-top: 10px;
      width: min-content;
      /* transform: rotate(90deg); */
    }
    .card {
      height: auto;
      width: auto;
      padding: 0;
    }
  }
  @media (min-width: 1026px) {
    .min_hight {
      min-height: 70vh !important;
    }
    .min_hight_cont {
      min-height: 120vh !important;
    }
  }
  @media all and (device-width: 768px) and (device-height: 1024px) and (orientation: portrait) {
    .mt-15 {
      margin-top: 15%;
    }
  }
  
  @media (min-width: 1026px) and (max-width: 1350px) {
    h2 {
      font-size: 50px;
    }
  }
  
  /*----------banner-------------*/
  .banner {

    margin: 80px 0px 80px 0px;
    position: relative;
  
  }
  .design{
    width: 100%;
   
  }
  .section-2-card img {

    height:300px;
  }
  


  @media (max-width: 800px) {
    .data h1 {
      font-size: 30px;
      padding-left: 15px;
    }
    .design1 {
      width: 20%;
    }
    .banner {
      padding: 3% 3%;
    }
    .design2 {
      width: 20%;
    }
  }
 
  
  .mystyle {
    background:#fff !important;
  }


 

  .hidden {
    opacity:0;
  }
  .console-container {
   
    
    font-size:6em;
    text-align:center;
    height:200px;
    width:600px;
    display:block;
    position:absolute;
    color:white;
    top:0;
    bottom:0;
    left:0;
    right:0;
    margin:auto;
    font-weight: bolder;
  }
  @media only screen and (max-width: 1025px) {
      .console-container {
   
   font-family:Khula;
   font-size:4em;
   text-align:center;
   height:200px;
   width:600px;
   display:none;
   position:absolute;
   color:white;
   top:0;
   bottom:0;
   left:0;
   right:0;
   margin:auto;
  }
  }
  .console-underscore {
     display:inline-block;
    position:relative;
    top:-0.14em;
    left:10px;
  }
    