/* <!-- ṃodal css --> */
.clinicListModal .clinic-dialog .modal-content {
  width: 48vw;
  margin-left: -15%;
  padding: 1.5em 3em;
}
h6{
  margin-left: 0px !important;
}

.clinic-modal-header {
  border-bottom: 0;
}

.clinic-modal-header > button {
  position: absolute;
  top: 30px;
  right: 30px;
}

.clinic-modal-title {
  margin-left: 2%;
}

.clinic-section {
  padding-block: 5em;
}

.clinic-heading {
  margin-bottom: 4em;
}

.clinic-wraper {
  display: flex;
  justify-content: center;
  align-items: center;
}

.clinic-container {
  width: 100%;
  height: 290px;
  display: block;
  border: 2px solid #e4e8ff;
  border-radius: 10px;
  position: relative;
  overflow: hidden;
  /* margin-bottom: 3em; */
}

.clinic-container .clinic-info {
  text-align: left !important;
  padding: 1.5em;
  position: relative;
}

.clinic-info .card-text {
  margin-bottom: 5px;
  color: #22223f;
  font-weight: 500 !important;
  font-size: 13px !important;
  text-align: left !important;
  opacity: 1;
}

.clinic-info .card-text b {
  color: #917cff;
}

.clinic-container .clinic-info > h3 {
  font-size: 18px;
  font-weight: 800;
}

.clinic-container .clinic-info > h5 {
  color: #917cff;
  font-size: 15px;
}

.clinic-container input {
  display: none;
}

.clinic-container label {
  position: absolute;
  bottom: 20px;
  left: 20px;
  display: block;
  width: 80px;
  height: 40px;
  background-image: url("../Images/clinic-call-btn.png");
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  cursor: pointer;
  box-shadow: 0 0 0 0 #E4E8FF;
  z-index: 3;
  transition: 0.8s ease-in-out;
}

.clinic-container input:checked + label {
  box-shadow: 0 0 0 600px #E4E8FF;
  background-color: #E4E8FF ;
  opacity: 1;
}

.clinic-container .clinic {
  position: absolute;
  width: 100%;
  height: 100%;
  top: -300px;
  padding: 10px 20px 20px 20px;
  text-align: center;
  transition: 0.5s ease-in-out;
  transition-delay: 0.3s;
}

.clinic-container .clinic .title {
  font-size: 16px;
  font-weight: 800;
  position: relative;
  text-align: left;
  padding: 10px 0;
  color: #000;
  z-index: 5;
}

.clinic-container .clinic .title h3 {
  margin-top: 4em;
  line-height: 0;
  color: #917cff;
  font-size: 20px;
  font-weight: 700;
}

.clinic-container .clinic .title h4 > a {
  color: #000;
  text-decoration: none;
  font-size: 20px;
  font-weight: 700;
}

.clinic-container input:checked ~ .clinic {
  top: 0;
}

/* Mobile Devices */
@media only screen and (max-width: 600px) {
  .clinicListModal .clinic-dialog .modal-content {
    width: 90vw;
    margin-left: 3%;
    margin-right: 0 !important;
    padding: 1em;
  }

  .clinic-section {
    padding-block: 5em;
    max-width: 100vw;
  }

  .clinic-container {
    width: 100%;
    margin-bottom: 1em;
    height: 280px;
  }
  .clinic-container label {
    width: 70px;
    height: 45px;
    bottom: 15px;
  }

  .clinic-container .clinic-info {
    padding: 1em;
  }

  .clinic-modal-title {
    margin-left: 6%;
  }
}

/* Medium device like IPad */
@media all and (device-width: 768px) and (device-height: 1024px) and (orientation: portrait) {
  .clinicListModal .clinic-dialog .modal-content {
    width: 43vw;
    margin-left: 18%;
    margin-right: 0 !important;
    padding: 1em;
  }

  .clinic-wraper {
    padding: 0;
  }

  .clinic-section {
    padding-block: 5em;
    max-width: 90vw;
  }

  .clinic-container {
    width: 100%;
    height: 270px;
    margin-bottom: 0.5em;
  }

  .clinic-container .clinic-info {
    padding: 1em 0.5em;
  }

  .clinic-container label {
    left: 10px;
    bottom: 5px;
  }

  .clinic-container .clinic {
    top: -350px;
  }

  .clinic-container .clinic .title {
    padding: 5px 0;
  }

  .clinic-container .clinic .title h3 {
    font-size: 14px;
  }

  .clinic-container .clinic .title h5 {
    font-size: 12px;
    line-height: 0;
  }

  .section-1 {
    margin-top: 15% !important;
  }
}

/* Portrait and Landscape */
@media only screen and (min-width: 1024px) and (max-height: 1380px) and (-webkit-min-device-pixel-ratio: 1.5) {
  .clinicListModal .clinic-dialog .modal-content {
    width: 36vw !important;
    margin-left: 14%;
    margin-right: 0 !important;
    padding: 2em;
  }

  .clinic-section {
    padding-block: 5em;
    max-width: 90vw;
  }
  .clinic-container label {
    left: 20px;
    bottom: 5px;
  }
  .clinic-container {
    width: 100%;
    height: 280px;
    margin-bottom: 1em;
  }
}

/* Landscape */
@media only screen and (min-width: 1050px) and (max-width: 1350px) and (orientation: landscape) and (-webkit-min-device-pixel-ratio: 1) {
  .clinicListModal .clinic-dialog .modal-content {
    width: 80vw;
    margin-left: -20vw;
    padding: 1em 2em;
  }

  .clinic-container {
    width: 100%;
    height: 280px;
  }
}

/* accordian-css */
.section-1 {
  margin-top: 0;
}

.accordian-section {
  background-color: #fff;
  padding-block: 2em;
  position: relative;
}

.accordion-button {
  background-color: #f9f9ff;
  padding: 5px 20px;
  font-weight: bold;
  font-size: 18px;
  color: #333333;
  text-align: left;
  border-radius: 10px;
}

.accordion-button:focus {
  border: none;
}

.accordion-button:not(.collapsed) {
  background: none;
  color: #22223f;
}

.accordion-item {
  border: none;
  outline: none;
  border-radius: 10px;
  background-color: #f9f9ff;
}

.accordion-body {
  padding: 15px;
}

@media screen and (max-width: 600px) {
  .section-1 {
    margin-top: 2em;
  }

  .accordian-section {
    padding-block: 4em;
  }
}

/* for larger screen resolution */
@media only screen and (min-width: 1700px) and (max-width: 2560px) {
  .clinicListModal .clinic-dialog .modal-content {
    width: 40vw !important;
    margin-left: -32%;
  }
  .clinic-container {
    height: 300px;
  }
}
