.body {
  padding: 0% 7% 0% 7%;
}
.page-body {
  padding: 0rem;
  margin-top: 8rem;
}

.section {
  height: 50vh;
}

h1 {
  color: #22223f;
  letter-spacing: 5px;
  font-size: 3em;
  font-weight: 900;
  -webkit-text-stroke: 3.5px #000;
  padding-block: 0.2em;
}

h2 {
  font-style: normal;
  font-weight: 900;
  font-size: 70px;

  color: #22223f;
}
.visit_smart_clinic {
  font-size: 60px;
}

#section-1-head {
  font-size: 4em;
}

.small-text {
  color: 000f;
  letter-spacing: 2px;
  font-size: 24px;
  font-weight: 400;
}

.section-img {
  width: 100%;
  padding: 0.2em;
}

.body-content {
  margin-top: 5em;
}

.page-btn {
  background-color: #917cff;
  color: #fff;
  border: 0;
  outline: none;
  padding: 10px 20px;
  border-radius: 5px;
  font-weight: 700;
  letter-spacing: 2px;
  margin-block: 1rem;
  font-size: 18px;
}

.call-btn {
  background-color: #917cff;
  color: #fff;
  border: 0;
  outline: none;
  padding: 5px 10px;
  border-radius: 5px;
  margin-block: 1rem;
  font-size: 13px;
}

.section-1-card {
  width: 100%;
  height: 100%;
  border: 2px solid #e4e8ff;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-content: center;
  align-items: center;
}

.section-2-icons {
  width: 5em;
}

.section-2-card {
  width: 100%;
  padding: 2.5em 0.5em;
  height: 90%;
  border: 3px solid #e4e8ff;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-content: center;
  align-items: center;
}

.card-text {
  color: #22223f;
  font-weight: 500;
  font-size: 20px !important;
  text-align: center;
}

.section-3-list {
  list-style-type: none;
  font-weight: 600;
  line-height: 28px;
  letter-spacing: 2px;
  color: #22223f;
  float: left;
}

.section-3-list::before {
  content: url(../Icons/bullet-icon.png);
  padding-inline-end: 1rem;
}

@media screen and (min-width: 320px) and (max-width: 640px) {
  .visit_smart_clinic {
    font-size: 34px !important;
  }
  .page-body {
    padding: 0% 5% 0% 5%;
    margin-top: 7em;
  }
  .section {
    height: auto;
    margin-inline: 0em;
  }

  h1 {
    letter-spacing: 2px;
    font-size: 2em;
    font-weight: 700;
    -webkit-text-stroke: 1.5px #000;
    padding-block: 0.2em;
  }

  h2 {
    font-size: 36px;
  }

  #section-1-head {
    font-size: 2em;
  }

  .small-text {
    color: #000;

    letter-spacing: 2px;
    font-size: 16px;
    font-weight: 500;
  }

  .section-img {
    width: 100%;
    padding: 0em;
  }

  .section-2-icons {
    width: 3em;
  }
}
@media (min-width: 1026px) {
  .section {
    height: 90vh;
  }
  .visit_smart_clinic {
    font-size: 46px;
  }
  .small-text {
    color: #000;

    letter-spacing: 2px;
    font-size: 16px;
    font-weight: 400;
  }
}
@media (min-width: 700px) and (max-width: 800px) {
  .section {
    height: 90vh;
  }
}
@media all and (device-width: 768px) and (device-height: 1024px) and (orientation: portrait) {
  .pad {
    max-width: 700px;
  }
  .visit_smart_clinic {
    font-size: 46px;
  }
  .small-text {
    color: #000;

    letter-spacing: 2px;
    font-size: 16px;
    font-weight: 400;
  }
}
@media all and (device-width: 1024px) and (device-height: 1366px) and (orientation: portrait) {
  .pad {
    max-width: 700px;
  }
  h2 {
    font-size: 50px;
  }
  .visit_smart_clinic {
    font-size: 46px;
  }
  .small-text {
    color: #000;

    letter-spacing: 2px;
    font-size: 16px;
    font-weight: 400;
  }
}

/* <!-- ṃodal css --> */
.clinicListModal .clinic-dialog .modal-content {
  width: 75vw;
  margin-left: -65%;
  padding: 1.5em 3em;
}

.clinic-modal-header {
  border-bottom: 0;
}

.clinic-modal-header > button {
  position: absolute;
  top: 30px;
  right: 30px;
}

.clinic-modal-title {
  margin-left: 2%;
}

.clinic-section {
  padding-block: 5em;
}

.clinic-heading {
  margin-bottom: 4em;
}

.clinic-wraper {
  display: flex;
  justify-content: center;
  align-items: center;
}

.clinic-container {
  width: 100%;
  height: 280px;
  display: flex;
  justify-content: left;
  align-items: left;
  border: 2px solid #e4e8ff;
  border-radius: 10px;
  position: relative;
  overflow: hidden;
}

.clinic-container .clinic-info {
  text-align: left !important;
  padding: 1.5em;
}

.clinic-info .card-text {
  color: #22223f;
  margin-bottom: 5px;
  font-size: 13px !important;
  text-align: left !important;
}

.clinic-info .card-text b {
  color: #917cff;
}

.clinic-container .clinic-info > h3 {
  font-size: 18px;
  font-weight: 800;
}

.clinic-container .clinic-info > h5 {
  color: #917cff;
  font-size: 15px;
}

.clinic-container input {
  display: none;
}

.clinic-container label {
  position: absolute;
  bottom: 20px;
  left: 20px;
  display: block;
  width: 80px;
  height: 40px;
  background-image: url("../Images/clinic-call-btn.png");
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  cursor: pointer;
  box-shadow: 0 0 0 0 #f9f9ff;
  z-index: 5;
  transition: 0.8s ease-in-out;
}

.clinic-container input:checked + label {
  box-shadow: 0 0 0 600px #e4e8ff;
  background-color: #e4e8ff;
  opacity: 1;
}

.clinic-container .clinic {
  position: absolute;
  width: 100%;
  height: 100%;
  top: -300px;
  padding: 10px 20px 20px 20px;
  text-align: center;
  transition: 0.5s ease-in-out;
  transition-delay: 0.3s;
}

.clinic-container .clinic .title {
  font-size: 16px;
  font-weight: 800;
  position: relative;
  text-align: left;
  padding: 10px 0;
  color: #000;
  z-index: 5;
}

.clinic-container .clinic .title h3 {
  margin-top: 4em;
  line-height: 0;
  color: #917cff;
  font-size: 20px;
  font-weight: 700;
}

.clinic-container .clinic .title h4 > a {
  color: #000;
  text-decoration: none;
  font-size: 20px;
  font-weight: 700;
}

.clinic-container input:checked ~ .clinic {
  top: 0;
}

/* Mobile Devices */
@media only screen and (max-width: 600px) {
  .clinicListModal .clinic-dialog .modal-content {
    width: 90vw;
    margin-left: 3%;
    margin-right: 0 !important;
    padding: 1em;
  }

  .clinic-section {
    padding-block: 5em;
    max-width: 100vw;
  }

  .clinic-container {
    width: 100%;
    margin-bottom: 1em;
    height: 280px;
  }
  .clinic-container label {
    width: 70px;
    height: 45px;
    bottom: 15px;
  }

  .clinic-container .clinic-info {
    padding: 1em;
  }

  .clinic-modal-title {
    margin-left: 6% !important;
  }
}

/* Medium device like IPad */
@media all and (device-width: 768px) and (device-height: 1024px) and (orientation: portrait) {
  .clinicListModal .clinic-dialog .modal-content {
    width: 95vw;
    margin-left: -22%;
    margin-right: 0 !important;
    padding: 1em;
  }

  .clinic-wraper {
    padding: 0;
  }

  .clinic-section {
    padding-block: 5em;
    max-width: 90vw;
  }

  .clinic-container {
    width: 100%;
    height: 270px;
    margin-bottom: 0.5em;
  }

  .clinic-container .clinic-info {
    padding: 1em 0.5em;
  }

  .clinic-container label {
    left: 10px;
  }

  .clinic-container .clinic {
    top: -350px;
  }

  .clinic-container .clinic .title {
    padding: 5px 0;
  }

  .clinic-container .clinic .title h3 {
    font-size: 14px;
  }

  .clinic-container .clinic .title h5 {
    font-size: 12px;
    line-height: 0;
  }

  .section-1 {
    margin-top: 15% !important;
  }
}

/* Portrait and Landscape */
@media only screen and (min-width: 1024px) and (max-height: 1380px) and (-webkit-min-device-pixel-ratio: 1.5) {
  .clinicListModal .clinic-dialog .modal-content {
    width: 88vw !important;
    margin-left: -40%;
    margin-right: 0 !important;
    padding: 2em;
  }

  .clinic-section {
    padding-block: 5em;
    max-width: 90vw;
  }

  .clinic-container {
    width: 100%;
    height: 280px;
    margin-bottom: 1em;
  }
}

/* Landscape */
@media only screen and (min-width: 1050px) and (max-width: 1350px) and (orientation: landscape) and (-webkit-min-device-pixel-ratio: 1) {
  .clinicListModal .clinic-dialog .modal-content {
    width: 84vw;
    margin-left: -20vw;
    padding: 1em;
  }
  .clinic-container .clinic-info {
    text-align: left !important;
    padding: 1em;
  }

  .clinic-container {
    width: 100%;
    height: 295px;
  }
}

/* for larger screen resolution */
@media only screen and (min-width: 1700px) and (max-width: 2560px) {
  .clinicListModal .clinic-dialog .modal-content {
    width: 50vw !important;
  }
  .clinic-container {
    height: 300px;
  }
}
